h1{
	text-align: center;
}

h2{
	text-align: center;
}

h3{
	margin-left: 50px;
}

p{
	margin-left: 70px;
}

div{
	margin-top: 50px;
}

#about{
	background-color: #BFEDC1;
}

#projects{
	background-color: #EEF5DB;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 3%;
}

#diff{
	column-count: 2;
	column-gap: 40px;
}

#location{
	text-align: center;
}

#contact{
	text-align: center;
	margin-left: 0px;
	background-color: #303633;
	color: white;
}

#navbar {
  overflow: hidden;
  background-color: #000000;
  margin-top: 0px;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.margin{
	margin: 40px;
}

#home{
	font-size: 50px;
}